.navDiv{
    background-color: var(--background);
    width: 100%;
    height: 60px;    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
    .icon-sidebar{
        display: flex;
        align-items: center;
        padding: 0.5rem 2rem 0rem;
    }
    


}

.header{

    opacity: 1;
}

@media screen and (min-width: 868px) {
  .navDiv{
    height: 30px;
    .icon-sidebar{
      display: none;
    }
    .contain-menu-bar{
      display: none;
    }
  }
}