.navDiv{
    background-color: var(--background);
    width: 100%;
    height: 60px;    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    
    .icon-sidebar{
        display: flex;
        align-items: center;
        padding: 0.5rem 2rem 0rem;
        z-index: 1000;
        transform: translateX(0%);
        transition: all 0.4s ease-in-out;
        &:hover{
          cursor: pointer;
        }
    }

    .active-icon-sidebar{
        transform: translateX(520%);
        transition: all 0.4s ease-in-out;
    }
    


}

.header{

    opacity: 1;
}

@media screen and (min-width: 1030px) {
  .navDiv{
    height: 30px;
    .icon-sidebar{
      display: none;
    }
    .contain-menu-bar{
      display: none;
    }
  }
}